.btn {
  &--primary {
    background-color: var(--primary);

  }

  &--secondary {
    background-color: var(--secondary);
    padding: 13px 32px;
    border-radius: 32px;
  }
}

a {
font-family: 'Figtree';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 137.5%;
}