.perfect-header {
  padding-top: 32px;

  @media (max-width: 26.87em) {
    padding-top: 24px;
  }

  &__flex {
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    width: 100%;
    padding: 24px 32px;
    border-radius: 8px;
    text-transform: capitalize;
    background-color: var(--primary);
  }

  &__logo {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
  }

  &__link-box {
    display: flex;
    align-items: center;
    @media (max-width: 81.25em) {
      display: none;
    }
  }

  &__link-items {
    margin-right: 32px;
    color: #fff;
  }

  &__mobile-nav {
    height: 2px;
    background-color: #fff;
    width: 50px;
    position: relative;
    display: none;

    @media (max-width: 81.25em) {
      display: block;
    }
  }

  &__mobile-nav::before {
    content: "";
    height: 2px;
    background-color: #fff;
    width: 50px;
    transform: translateY(-12px);
    position: absolute;
  }

  &__mobile-nav::after {
    content: "";
    height: 2px;
    background-color: #fff;
    width: 50px;
    position: absolute;
    transform: translateY(12px);
  }
}

.perfect-whyus {
  padding: 110px 64px 98px 64px;

  @media (max-width: 56.25em) {
    padding: 99px 0px 73px 0;
  }

  @media (max-width: 26.87em) {
    padding: 88px 0 48px 0;
  }

  text-align: center;

  &__heading-1 {
    max-width: 858px;
    margin: 20px auto 30px auto;

    @media (max-width: 26.87em) {
      max-width: 100%;
      width: 100%;
      margin: 16px auto 24px auto;
    }
  }

  &__text-20 {
    max-width: 620px;
    margin: 0 auto 48px auto;
  }
}

.perfect-slick-text {
  width: 100%;
  margin: 0 auto;
  color: #0000002b;

  font-family: "Playfair Display";
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 500;
  line-height: 212.5%;
}
.slick-slide {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

.slick-prev,
.slick-next {
  display: none !important; /* Hide prev and next buttons */
}

.perfect-hero {
  &__img-box {
    margin-top: 16px;

    @media (max-width: 56.25em) {
      width: 100%;
      height: 280px;
    }
  }

  &__img {
    border-radius: 8px;

    @media (max-width: 56.25em) {
      object-fit: cover;
      object-position: center;
    }
  }
}

.perfect-options {
  padding: 91px 0 121px;

  @media (max-width: 56.25em) {
    padding: 77.5px 0 118.5px;
  }

  @media (max-width: 26.87em) {
    padding: 64px 0 116px;
  }

  &__heading-2 {
    max-width: 545px;
  }

  &__flex {
    @media (max-width: 75em) {
      flex-direction: column;
    }
  }

  &__choice {
    @media (max-width: 75em) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__choice--1 {
    background-color: var(--primary);
    padding: 49px 48px;
    border-radius: 8px;
    color: #fff;
    margin-right: 78px;

    @media (max-width: 75em) {
      margin-right: 0;
    }

    & .perfect-options__content {
      margin-top: 44px;
      justify-content: space-between;
    }

    & .perfect-options__icon {
      width: 32px;
      height: 32px;
    }

    & .perfect-options__text-18 {
      margin-top: 32px;
      max-width: 545px;
    }
  }

  &__choice--2 {
    background-color: transparent;
    padding: 49px 0;
    border-radius: 8px;
    color: var(--secondary);

    & .perfect-options__content {
      margin-top: 44px;
      justify-content: space-between;
    }

    & .perfect-options__icon {
      width: 32px;
      height: 32px;
    }

    & .perfect-options__text-13 {
      color: #003138;
    }

    & .perfect-options__text-18 {
      margin-top: 32px;
      max-width: 545px;
    }
  }

  &__heading-2 {
    @media (max-width: 38.81em) {
      text-align: center;
    }
  }

  &__text-13 {
    margin-top: 12px;
  }

  &__content {
    margin-top: 44px;
    max-width: 545px;

  

    @media (max-width: 38.81em) {
      flex-direction: column;
      text-align: center;
      margin-top: 32px;
      align-items: center;
    }
  }

  &__content-item {
    max-width: 159px;

    @media (max-width: 38.81em) {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  &__content-item:not(:last-child) {
    margin-right: 34px;
    @media (max-width: 38.81em) {
      margin-right: 0;
    }
  }

  &__text-18 {
    @media (max-width: 38.81em) {
      text-align: center;
    }
  }
}
